<div class="container">
  <div class=" col-sm-12 col-md-6 card">
      <div class="content">
          <h2>Empleado x</h2>
          <h3 >Hobbies: </h3>
          <div class="lista">
              <ul>
                  <ul *ngFor="let item of hobbies" class="text-white">{{item}}</ul>
                  
              </ul>
          </div>
          <h3>Edad: {{edad}} </h3>
          <h4 *ngIf=" edad >= 18">Esta persona puede irse de fiesta!!</h4>
          <button (click)="incrementarEdad()" class="btn btn-primary">Sumar edad  (+)</button>
          <button (click)="decrementarEdad()" class="btn btn-primary">Restar edad (-)</button>
      </div>
  </div>
</div>
