<nav class="navbar navbar-expand-md bg-light py-3 fixed-top ">
    <div class="container">
      <a class="navbar-brand" href="#"  >Tarea Angular #3</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navmenu">
        <ul class="navbar-nav ">
          <li class="nav-item" >
            <a routerLink="['home']"  class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li   class="nav-item">
            <a routerLink="['about" class="nav-link" >About</a>
          </li>
          <li class="nav-item">
            <a routerLink="['team']"  class="nav-link">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>